
*~
*.bak

# ignore a whole lot of latex specific tempfiles

*.acn
*.acr
*.alg
*.aux
*.backup
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
